<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>

<div class="login-container">
    <h2>Login</h2>

    <form action="/" method="post">
        <label for="benutzername"></label>
        <input type="text" id="benutzername" name="benutzername" required>
        <label for="passwort"></label>
        <input type="password" id="passwort" name="passwort" required>
        <button type="submit">Anmelden</button>
    </form>
</div>

</body>
</html>
