<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:if="${statistik.student() != null}"
           th:text="|Statistik für ${statistik.student.vorname} ${statistik.student.name}|">
        Statistik
    </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="container mt-5">

<h2 th:if="${statistik.student() != null}"
    th:text="|Statistik für ${statistik.student.vorname} ${statistik.student.name}|">
    Statistik
</h2>

<table class="table mt-3">
    <thead>
    <tr>
        <th>Gesamtanwesenheit (%)</th>
        <th>Anzahl Entschuldigte Fehlzeiten</th>
        <th>Anzahl Unentschuldigte Fehlzeiten</th>
        <th>Anzahl Krankmeldungen</th>
        <th>Anzahl Verspätungen</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${statistik.gesamtAnwesenheit()}"></td>
        <td th:text="${statistik.entschuldigt()}"></td>
        <td th:text="${statistik.unentschuldigt()}"></td>
        <td th:text="${statistik.krank()}"></td>
        <td th:text="${statistik.verspaetungen()}"></td>
    </tr>
    </tbody>
</table>

<a href="/anwesenheitsliste" class="btn btn-secondary">Zurück zur Anwesenheitsübersicht</a>
</body>
</html>

