<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Willkommen</title>
</head>
<body>
<div layout:fragment="content" class="stack">
    <div class="page-head">
        <div class="page-head__main">
            <h1 class="page-head__title" th:text="|Willkommen, ${username}|">Willkommen</h1>
            <p class="page-head__text">Erfassen Sie die Anwesenheit Ihrer Gruppen und sehen Sie Monatsübersichten und Statistiken ein.</p>
        </div>
    </div>

    <div class="page-head__actions">
        <a th:href="@{/gruppen}" class="btn btn--primary btn--lg">Zu den Gruppen</a>
        <a th:if="${isAdmin}" th:href="@{/admin/gruppen}" class="btn btn--secondary btn--lg">Gruppen und Studenten verwalten</a>
        <a th:if="${isAdmin}" th:href="@{/admin/benutzer}" class="btn btn--secondary btn--lg">Benutzer verwalten</a>
    </div>
</div>
</body>
</html>
